body {
	font-family: Raleway, sans-serif;
	font-weight: 400;
	font-size: 14px;
	padding: 0;
	margin: 0;
}

strong {
	font-weight: 700;
}

header {
	width: 640px;
	margin: 2em auto;
}

h2 {
	font-family: Dosis, sans-serif;
	font-weight: 300;
	color: gray;
	font-size: 36px;
	margin: 0;
}

h1 {
	font-family: Dosis, sans-serif;
	font-weight: 600;
	margin-top: 0;
	font-size: 60px;
	color: black;
}

h1 a {
	text-decoration: none;
}

h1#cta {
	margin: 0;
	text-align: right;
	padding: 0;
}

header h3 {
	font-family: Raleway, sans-serif;
	font-weight: 400;
	color: gray;
	font-size: 24px;
}

p#video { text-align: center; }

ul#menu {
	background-color: black;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-pack: justify;
	-moz-box-pack: center;
	box-pack: justify;
	padding: 5px 0;
	width: 100%;
}

ul#menu.fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	box-shadow: 0 10px 10px white;
}

ul#menu>li {
	font-family: Dosis, sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 18px;
	color: #fdbf65;
	padding: 0 10px;
	vertical-align: center;
	list-style-type: none;
}

ul#menu>li a {
	color: #fdbf65;
	text-decoration: none;
}

ul#menu>li i {
	margin-right: 0.5em;
}

article {
	-webkit-column-count: 2;
	-webkit-column-gap: 2em;
	-moz-column-count: 2;
	-moz-column-gap: 2em;
	column-count: 2;
	column-gap: 2em;
	width: 960px;
	margin: 2em auto 0 auto;
}

section {
	padding-bottom: 20px;
}

section img {
	float: left;
	margin-left: 5px;
	margin-right: 1em;
	margin-bottom: 1em;
	max-width: 250px;
	border: 2px solid white;
	box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
}

section {
	line-height: 200%;
	-webkit-column-break-inside: avoid;
	-webkit-column-break-before: avoid;
	-moz-column-break-inside: avoid;
	-moz-column-break-before: avoid;
	column-break-inside: avoid;
	column-break-before: avoid;
}

section h3 {
	font-family: Dosis, sans-serif;
	font-weight: 600;
	color: gray;
	font-size: 24px;
	font-weight: bold;
	border-top: 2px solid #ddd;
	padding-top: 7px;
}

section h3:first-child {
	margin-top: 0;
}

footer {
	margin-top: 20px;
	text-align: center;
	margin-bottom: 20px;
}