<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Squash: The open-source bug-smashing tool</title>
    <meta name="description" content="open-source bug-smashing tool">
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag "all" %>
  </head>
  <body>
    <%= yield %>
  </body>
  <%= javascript_include_tag  "all" %>
</html>
