@charset "UTF-8";
@font-face {
  font-family: "SQMarket-Light";
  src: url("/fonts/sqmarket/sqmarket-light.otf") format('opentype'), url("/fonts/sqmarket/sqmarket-light.eot") format('embedded-opentype'), url("/fonts/sqmarket/sqmarket-light.woff") format('woff'), url("/fonts/sqmarket/sqmarket-light.ttf") format('truetype'), url("/fonts/sqmarket/sqmarket-light.svg") format('svg'); }
@font-face {
  font-family: "SQMarket-LightItalic";
  src: url("/fonts/sqmarket/sqmarket-lightitalic.otf") format('opentype'), url("/fonts/sqmarket/sqmarket-lightitalic.eot") format('embedded-opentype'), url("/fonts/sqmarket/sqmarket-lightitalic.woff") format('woff'), url("/fonts/sqmarket/sqmarket-lightitalic.ttf") format('truetype'), url("/fonts/sqmarket/sqmarket-lightitalic.svg") format('svg'); }
@font-face {
  font-family: "SQMarket-Regular";
  src: url("/fonts/sqmarket/sqmarket-regular.otf") format('opentype'), url("/fonts/sqmarket/sqmarket-regular.eot") format('embedded-opentype'), url("/fonts/sqmarket/sqmarket-regular.woff") format('woff'), url("/fonts/sqmarket/sqmarket-regular.ttf") format('truetype'), url("/fonts/sqmarket/sqmarket-regular.svg") format('svg'); }
@font-face {
  font-family: "SQMarket-RegularItalic";
  src: url("/fonts/sqmarket/sqmarket-regularitalic.otf") format('opentype'), url("/fonts/sqmarket/sqmarket-regularitalic.eot") format('embedded-opentype'), url("/fonts/sqmarket/sqmarket-regularitalic.woff") format('woff'), url("/fonts/sqmarket/sqmarket-regularitalic.ttf") format('truetype'), url("/fonts/sqmarket/sqmarket-regularitalic.svg") format('svg'); }
@font-face {
  font-family: "SQMarket-Medium";
  src: url("/fonts/sqmarket/sqmarket-medium.otf") format('opentype'), url("/fonts/sqmarket/sqmarket-medium.eot") format('embedded-opentype'), url("/fonts/sqmarket/sqmarket-medium.woff") format('woff'), url("/fonts/sqmarket/sqmarket-medium.ttf") format('truetype'), url("/fonts/sqmarket/sqmarket-medium.svg") format('svg'); }
@font-face {
  font-family: "SQMarket-MediumItalic";
  src: url("/fonts/sqmarket/sqmarket-mediumitalic.otf") format('opentype'), url("/fonts/sqmarket/sqmarket-mediumitalic.eot") format('embedded-opentype'), url("/fonts/sqmarket/sqmarket-mediumitalic.woff") format('woff'), url("/fonts/sqmarket/sqmarket-mediumitalic.ttf") format('truetype'), url("/fonts/sqmarket/sqmarket-mediumitalic.svg") format('svg'); }
@font-face {
  font-family: "SQMarket-Bold";
  src: url("/fonts/sqmarket/sqmarket-bold.otf") format('opentype'), url("/fonts/sqmarket/sqmarket-bold.eot") format('embedded-opentype'), url("/fonts/sqmarket/sqmarket-bold.woff") format('woff'), url("/fonts/sqmarket/sqmarket-bold.ttf") format('truetype'), url("/fonts/sqmarket/sqmarket-bold.svg") format('svg'); }
@font-face {
  font-family: "SQMarket-BoldItalic";
  src: url("/fonts/sqmarket/sqmarket-bolditalic.otf") format('opentype'), url("/fonts/sqmarket/sqmarket-bolditalic.eot") format('embedded-opentype'), url("/fonts/sqmarket/sqmarket-bolditalic.woff") format('woff'), url("/fonts/sqmarket/sqmarket-bolditalic.ttf") format('truetype'), url("/fonts/sqmarket/sqmarket-bolditalic.svg") format('svg'); }
/*  Font Awesome 3.0
    the iconic font designed for use with Twitter Bootstrap
    -------------------------------------------------------
    The full suite of pictographic icons, examples, and documentation
    can be found at: http://fortawesome.github.com/Font-Awesome/

    License
    -------------------------------------------------------
    • The Font Awesome font is licensed under the SIL Open Font License - http://scripts.sil.org/OFL
    • Font Awesome CSS, LESS, and SASS files are licensed under the MIT License -
      http://opensource.org/licenses/mit-license.html
    • The Font Awesome pictograms are licensed under the CC BY 3.0 License - http://creativecommons.org/licenses/by/3.0/
    • Attribution is no longer required in Font Awesome 3.0, but much appreciated:
      "Font Awesome by Dave Gandy - http://fortawesome.github.com/Font-Awesome"

    Contact
    -------------------------------------------------------
    Email: dave@davegandy.com
    Twitter: http://twitter.com/fortaweso_me
    Work: Lead Product Designer @ http://kyruus.com

    */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome/fontawesome-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
[class^="icon-"], [class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none !important;
  background-position: 0 0;
  background-repeat: repeat; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
[class^="icon-"]:before, [class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
a [class^="icon-"], a [class*=" icon-"] {
  display: inline-block; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-large:before {
  vertical-align: -10%;
  font-size: 1.3333333333333333em; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.btn [class^="icon-"], .nav [class^="icon-"], .btn [class*=" icon-"], .nav [class*=" icon-"] {
  display: inline;
  line-height: .6em; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.btn [class^="icon-"].icon-spin, .nav [class^="icon-"].icon-spin, .btn [class*=" icon-"].icon-spin, .nav [class*=" icon-"].icon-spin {
  display: inline-block; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
li [class^="icon-"], li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
li [class^="icon-"].icon-large, li [class*=" icon-"].icon-large {
  width: 1.5625em; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
ul.icons {
  list-style-type: none;
  text-indent: -0.75em; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
ul.icons li [class^="icon-"], ul.icons li [class*=" icon-"] {
  width: .75em; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-muted {
  color: #eee; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-border {
  border: solid 1px #eee;
  padding: .2em .25em .15em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-2x {
  font-size: 2em; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-2x.icon-border {
  border-width: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-3x {
  font-size: 3em; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-3x.icon-border {
  border-width: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-4x {
  font-size: 4em; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-4x.icon-border {
  border-width: 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.pull-right {
  float: right; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.pull-left {
  float: left; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
[class^="icon-"].pull-left, [class*=" icon-"].pull-left {
  margin-right: .35em; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
[class^="icon-"].pull-right, [class*=" icon-"].pull-right {
  margin-left: .35em; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.btn [class^="icon-"].pull-left.icon-2x, .btn [class*=" icon-"].pull-left.icon-2x, .btn [class^="icon-"].pull-right.icon-2x, .btn [class*=" icon-"].pull-right.icon-2x {
  margin-top: .35em; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.btn [class^="icon-"].icon-spin.icon-large, .btn [class*=" icon-"].icon-spin.icon-large {
  height: .75em; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.btn.btn-small [class^="icon-"].pull-left.icon-2x, .btn.btn-small [class*=" icon-"].pull-left.icon-2x, .btn.btn-small [class^="icon-"].pull-right.icon-2x, .btn.btn-small [class*=" icon-"].pull-right.icon-2x {
  margin-top: .45em; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.btn.btn-large [class^="icon-"].pull-left.icon-2x, .btn.btn-large [class*=" icon-"].pull-left.icon-2x, .btn.btn-large [class^="icon-"].pull-right.icon-2x, .btn.btn-large [class*=" icon-"].pull-right.icon-2x {
  margin-top: .2em; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear; }

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg); } }
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg); } }
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg); }
  100% {
    -o-transform: rotate(359deg); } }
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(359deg); } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(359deg); } }
/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-glass:before {
  content: "\f000"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-music:before {
  content: "\f001"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-search:before {
  content: "\f002"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-envelope:before {
  content: "\f003"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-heart:before {
  content: "\f004"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-star:before {
  content: "\f005"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-star-empty:before {
  content: "\f006"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-user:before {
  content: "\f007"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-film:before {
  content: "\f008"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-th-large:before {
  content: "\f009"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-th:before {
  content: "\f00a"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-th-list:before {
  content: "\f00b"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-ok:before {
  content: "\f00c"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-remove:before {
  content: "\f00d"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-zoom-in:before {
  content: "\f00e"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-zoom-out:before {
  content: "\f010"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-off:before {
  content: "\f011"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-signal:before {
  content: "\f012"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-cog:before {
  content: "\f013"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-trash:before {
  content: "\f014"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-home:before {
  content: "\f015"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-file:before {
  content: "\f016"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-time:before {
  content: "\f017"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-road:before {
  content: "\f018"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-download-alt:before {
  content: "\f019"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-download:before {
  content: "\f01a"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-upload:before {
  content: "\f01b"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-inbox:before {
  content: "\f01c"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-play-circle:before {
  content: "\f01d"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-repeat:before {
  content: "\f01e"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-refresh:before {
  content: "\f021"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-list-alt:before {
  content: "\f022"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-lock:before {
  content: "\f023"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-flag:before {
  content: "\f024"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-headphones:before {
  content: "\f025"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-volume-off:before {
  content: "\f026"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-volume-down:before {
  content: "\f027"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-volume-up:before {
  content: "\f028"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-qrcode:before {
  content: "\f029"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-barcode:before {
  content: "\f02a"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-tag:before {
  content: "\f02b"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-tags:before {
  content: "\f02c"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-book:before {
  content: "\f02d"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-bookmark:before {
  content: "\f02e"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-print:before {
  content: "\f02f"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-camera:before {
  content: "\f030"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-font:before {
  content: "\f031"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-bold:before {
  content: "\f032"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-italic:before {
  content: "\f033"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-text-height:before {
  content: "\f034"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-text-width:before {
  content: "\f035"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-align-left:before {
  content: "\f036"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-align-center:before {
  content: "\f037"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-align-right:before {
  content: "\f038"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-align-justify:before {
  content: "\f039"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-list:before {
  content: "\f03a"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-indent-left:before {
  content: "\f03b"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-indent-right:before {
  content: "\f03c"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-facetime-video:before {
  content: "\f03d"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-picture:before {
  content: "\f03e"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-pencil:before {
  content: "\f040"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-map-marker:before {
  content: "\f041"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-adjust:before {
  content: "\f042"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-tint:before {
  content: "\f043"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-edit:before {
  content: "\f044"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-share:before {
  content: "\f045"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-check:before {
  content: "\f046"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-move:before {
  content: "\f047"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-step-backward:before {
  content: "\f048"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-fast-backward:before {
  content: "\f049"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-backward:before {
  content: "\f04a"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-play:before {
  content: "\f04b"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-pause:before {
  content: "\f04c"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-stop:before {
  content: "\f04d"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-forward:before {
  content: "\f04e"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-fast-forward:before {
  content: "\f050"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-step-forward:before {
  content: "\f051"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-eject:before {
  content: "\f052"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-chevron-left:before {
  content: "\f053"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-chevron-right:before {
  content: "\f054"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-plus-sign:before {
  content: "\f055"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-minus-sign:before {
  content: "\f056"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-remove-sign:before {
  content: "\f057"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-ok-sign:before {
  content: "\f058"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-question-sign:before {
  content: "\f059"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-info-sign:before {
  content: "\f05a"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-screenshot:before {
  content: "\f05b"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-remove-circle:before {
  content: "\f05c"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-ok-circle:before {
  content: "\f05d"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-ban-circle:before {
  content: "\f05e"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-arrow-left:before {
  content: "\f060"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-arrow-right:before {
  content: "\f061"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-arrow-up:before {
  content: "\f062"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-arrow-down:before {
  content: "\f063"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-share-alt:before {
  content: "\f064"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-resize-full:before {
  content: "\f065"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-resize-small:before {
  content: "\f066"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-plus:before {
  content: "\f067"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-minus:before {
  content: "\f068"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-asterisk:before {
  content: "\f069"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-exclamation-sign:before {
  content: "\f06a"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-gift:before {
  content: "\f06b"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-leaf:before {
  content: "\f06c"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-fire:before {
  content: "\f06d"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-eye-open:before {
  content: "\f06e"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-eye-close:before {
  content: "\f070"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-warning-sign:before {
  content: "\f071"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-plane:before {
  content: "\f072"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-calendar:before {
  content: "\f073"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-random:before {
  content: "\f074"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-comment:before {
  content: "\f075"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-magnet:before {
  content: "\f076"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-chevron-up:before {
  content: "\f077"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-chevron-down:before {
  content: "\f078"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-retweet:before {
  content: "\f079"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-shopping-cart:before {
  content: "\f07a"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-folder-close:before {
  content: "\f07b"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-folder-open:before {
  content: "\f07c"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-resize-vertical:before {
  content: "\f07d"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-resize-horizontal:before {
  content: "\f07e"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-bar-chart:before {
  content: "\f080"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-twitter-sign:before {
  content: "\f081"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-facebook-sign:before {
  content: "\f082"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-camera-retro:before {
  content: "\f083"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-key:before {
  content: "\f084"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-cogs:before {
  content: "\f085"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-comments:before {
  content: "\f086"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-thumbs-up:before {
  content: "\f087"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-thumbs-down:before {
  content: "\f088"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-star-half:before {
  content: "\f089"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-heart-empty:before {
  content: "\f08a"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-signout:before {
  content: "\f08b"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-linkedin-sign:before {
  content: "\f08c"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-pushpin:before {
  content: "\f08d"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-external-link:before {
  content: "\f08e"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-signin:before {
  content: "\f090"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-trophy:before {
  content: "\f091"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-github-sign:before {
  content: "\f092"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-upload-alt:before {
  content: "\f093"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-lemon:before {
  content: "\f094"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-phone:before {
  content: "\f095"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-check-empty:before {
  content: "\f096"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-bookmark-empty:before {
  content: "\f097"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-phone-sign:before {
  content: "\f098"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-twitter:before {
  content: "\f099"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-facebook:before {
  content: "\f09a"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-github:before {
  content: "\f09b"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-unlock:before {
  content: "\f09c"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-credit-card:before {
  content: "\f09d"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-rss:before {
  content: "\f09e"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-hdd:before {
  content: "\f0a0"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-bullhorn:before {
  content: "\f0a1"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-bell:before {
  content: "\f0a2"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-certificate:before {
  content: "\f0a3"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-hand-right:before {
  content: "\f0a4"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-hand-left:before {
  content: "\f0a5"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-hand-up:before {
  content: "\f0a6"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-hand-down:before {
  content: "\f0a7"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-circle-arrow-left:before {
  content: "\f0a8"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-circle-arrow-right:before {
  content: "\f0a9"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-circle-arrow-up:before {
  content: "\f0aa"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-circle-arrow-down:before {
  content: "\f0ab"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-globe:before {
  content: "\f0ac"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-wrench:before {
  content: "\f0ad"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-tasks:before {
  content: "\f0ae"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-filter:before {
  content: "\f0b0"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-briefcase:before {
  content: "\f0b1"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-fullscreen:before {
  content: "\f0b2"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-group:before {
  content: "\f0c0"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-link:before {
  content: "\f0c1"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-cloud:before {
  content: "\f0c2"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-beaker:before {
  content: "\f0c3"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-cut:before {
  content: "\f0c4"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-copy:before {
  content: "\f0c5"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-paper-clip:before {
  content: "\f0c6"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-save:before {
  content: "\f0c7"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-sign-blank:before {
  content: "\f0c8"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-reorder:before {
  content: "\f0c9"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-list-ul:before {
  content: "\f0ca"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-list-ol:before {
  content: "\f0cb"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-strikethrough:before {
  content: "\f0cc"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-underline:before {
  content: "\f0cd"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-table:before {
  content: "\f0ce"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-magic:before {
  content: "\f0d0"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-truck:before {
  content: "\f0d1"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-pinterest:before {
  content: "\f0d2"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-pinterest-sign:before {
  content: "\f0d3"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-google-plus-sign:before {
  content: "\f0d4"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-google-plus:before {
  content: "\f0d5"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-money:before {
  content: "\f0d6"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-caret-down:before {
  content: "\f0d7"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-caret-up:before {
  content: "\f0d8"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-caret-left:before {
  content: "\f0d9"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-caret-right:before {
  content: "\f0da"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-columns:before {
  content: "\f0db"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-sort:before {
  content: "\f0dc"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-sort-down:before {
  content: "\f0dd"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-sort-up:before {
  content: "\f0de"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-envelope-alt:before {
  content: "\f0e0"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-linkedin:before {
  content: "\f0e1"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-undo:before {
  content: "\f0e2"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-legal:before {
  content: "\f0e3"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-dashboard:before {
  content: "\f0e4"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-comment-alt:before {
  content: "\f0e5"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-comments-alt:before {
  content: "\f0e6"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-bolt:before {
  content: "\f0e7"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-sitemap:before {
  content: "\f0e8"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-umbrella:before {
  content: "\f0e9"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-paste:before {
  content: "\f0ea"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-lightbulb:before {
  content: "\f0eb"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-exchange:before {
  content: "\f0ec"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-cloud-download:before {
  content: "\f0ed"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-cloud-upload:before {
  content: "\f0ee"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-user-md:before {
  content: "\f0f0"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-stethoscope:before {
  content: "\f0f1"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-suitcase:before {
  content: "\f0f2"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-bell-alt:before {
  content: "\f0f3"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-coffee:before {
  content: "\f0f4"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-food:before {
  content: "\f0f5"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-file-alt:before {
  content: "\f0f6"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-building:before {
  content: "\f0f7"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-hospital:before {
  content: "\f0f8"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-ambulance:before {
  content: "\f0f9"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-medkit:before {
  content: "\f0fa"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-fighter-jet:before {
  content: "\f0fb"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-beer:before {
  content: "\f0fc"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-h-sign:before {
  content: "\f0fd"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-plus-sign-alt:before {
  content: "\f0fe"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-double-angle-left:before {
  content: "\f100"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-double-angle-right:before {
  content: "\f101"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-double-angle-up:before {
  content: "\f102"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-double-angle-down:before {
  content: "\f103"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-angle-left:before {
  content: "\f104"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-angle-right:before {
  content: "\f105"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-angle-up:before {
  content: "\f106"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-angle-down:before {
  content: "\f107"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-desktop:before {
  content: "\f108"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-laptop:before {
  content: "\f109"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-tablet:before {
  content: "\f10a"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-mobile-phone:before {
  content: "\f10b"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-circle-blank:before {
  content: "\f10c"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-quote-left:before {
  content: "\f10d"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-quote-right:before {
  content: "\f10e"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-spinner:before {
  content: "\f110"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-circle:before {
  content: "\f111"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-reply:before {
  content: "\f112"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-github-alt:before {
  content: "\f113"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-folder-close-alt:before {
  content: "\f114"; }

/* line 35, /Documents/Projects/Squash/web/source/stylesheets/font-awesome.min.css */
.icon-folder-open-alt:before {
  content: "\f115"; }

/* line 7, /Documents/Projects/Squash/web/source/stylesheets/all.css.sass */
body {
  font-family: SQMarket-Regular, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 0;
  margin: 0;
  min-width: 1100px; }

/* line 15, /Documents/Projects/Squash/web/source/stylesheets/all.css.sass */
a,
a:link,
a:visited,
a:hover,
a:active {
  color: #fdbf65; }

/* line 22, /Documents/Projects/Squash/web/source/stylesheets/all.css.sass */
strong {
  font-weight: normal;
  font-family: SQMarket-Medium; }

/* line 26, /Documents/Projects/Squash/web/source/stylesheets/all.css.sass */
header {
  width: 640px;
  margin: 2em auto; }

/* line 30, /Documents/Projects/Squash/web/source/stylesheets/all.css.sass */
h2 {
  font-family: SQMarket-MediumItalic, Helvetica, sans-serif;
  font-weight: normal;
  color: gray;
  font-size: 36px;
  margin: 0; }

/* line 37, /Documents/Projects/Squash/web/source/stylesheets/all.css.sass */
h1 {
  font-family: SQMarket-MediumItalic, Helvetica, sans-serif;
  font-weight: normal;
  margin-top: 0;
  font-size: 60px;
  color: black; }
  /* line 43, /Documents/Projects/Squash/web/source/stylesheets/all.css.sass */
  h1 a {
    text-decoration: none; }

/* line 46, /Documents/Projects/Squash/web/source/stylesheets/all.css.sass */
header h3 {
  font-family: SQMarket-Regular, Helvetica, sans-serif;
  font-weight: normal;
  color: gray;
  font-size: 24px; }

/* line 52, /Documents/Projects/Squash/web/source/stylesheets/all.css.sass */
p#video {
  text-align: center; }

/* line 55, /Documents/Projects/Squash/web/source/stylesheets/all.css.sass */
#menu-container {
  width: 100%;
  background-color: black;
  z-index: 100; }
  /* line 60, /Documents/Projects/Squash/web/source/stylesheets/all.css.sass */
  #menu-container.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    box-shadow: 0 10px 10px white; }

/* line 68, /Documents/Projects/Squash/web/source/stylesheets/all.css.sass */
ul#menu {
  width: 1100px;
  margin: 0 auto;
  display: block;
  text-align: center;
  padding: 5px 0; }
  /* line 75, /Documents/Projects/Squash/web/source/stylesheets/all.css.sass */
  ul#menu > li {
    display: inline-block;
    font-family: SQMarket-Light, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color: #fdbf65;
    padding: 0 10px;
    vertical-align: middle;
    list-style-type: none; }
    /* line 85, /Documents/Projects/Squash/web/source/stylesheets/all.css.sass */
    ul#menu > li:first-child {
      padding-left: 0; }
    /* line 88, /Documents/Projects/Squash/web/source/stylesheets/all.css.sass */
    ul#menu > li:last-child {
      padding-right: 0; }
    /* line 91, /Documents/Projects/Squash/web/source/stylesheets/all.css.sass */
    ul#menu > li a {
      color: #fdbf65;
      text-decoration: none; }
    /* line 95, /Documents/Projects/Squash/web/source/stylesheets/all.css.sass */
    ul#menu > li i {
      margin-right: 0.5em; }

/* line 99, /Documents/Projects/Squash/web/source/stylesheets/all.css.sass */
article {
  width: 960px;
  margin: 2em auto 0 auto;
  overflow: hidden;
  *zoom: 1;
  font-family: SQMarket-Light, Helvetica, sans-serif; }

/* line 105, /Documents/Projects/Squash/web/source/stylesheets/all.css.sass */
section {
  float: left;
  margin: 0 0 20px 0;
  line-height: 195%;
  width: 466px;
  overflow: hidden;
  *zoom: 1; }
  /* line 112, /Documents/Projects/Squash/web/source/stylesheets/all.css.sass */
  section:nth-child(odd) {
    margin-right: 28px; }
  /* line 115, /Documents/Projects/Squash/web/source/stylesheets/all.css.sass */
  section img {
    float: left;
    margin-left: 5px;
    margin-right: 1em;
    margin-bottom: 0;
    max-width: 250px;
    border: 2px solid white;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px; }
  /* line 123, /Documents/Projects/Squash/web/source/stylesheets/all.css.sass */
  section h3 {
    font-family: SQMarket-Medium, Helvetica, sans-serif;
    color: gray;
    font-size: 24px;
    font-weight: normal;
    border-top: 2px solid #ddd;
    padding-top: 7px; }
    /* line 130, /Documents/Projects/Squash/web/source/stylesheets/all.css.sass */
    section h3:first-child {
      margin-top: 0; }
  /* line 132, /Documents/Projects/Squash/web/source/stylesheets/all.css.sass */
  section p {
    position: relative;
    top: -8px; }
  /* line 136, /Documents/Projects/Squash/web/source/stylesheets/all.css.sass */
  section#cta {
    clear: both;
    float: right;
    margin: 0;
    padding: 0;
    line-height: inherit; }
    /* line 143, /Documents/Projects/Squash/web/source/stylesheets/all.css.sass */
    section#cta h1 {
      font-size: 48px; }

/* line 146, /Documents/Projects/Squash/web/source/stylesheets/all.css.sass */
footer {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px; }
